pipdeptree==2.26.1
pip-licenses==5.0.0
numpy==2.3.1
polars==1.31.0
django==5.2.3
django-filter==25.1
djangorestframework==3.16.0
django-cors-headers==4.7.0
wooldridge==0.4.5
scipy==1.15.3
statsmodels==0.14.4
python-magic==0.4.27
fastexcel==0.14.0
xlsxwriter==3.2.5
coverage==7.10.0